.row_posters{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.App{
  margin:0;
}
.banner{
  background-size: cover;
  height: 448px;
  background-position:center ;
  position:relative;
}
.banner_content{
  color:white;
  font-weight: bold;
  padding: 30px;
  text-shadow: 1px 1px black;
  width:50%;

}
.banner_buttons{
  padding-left:30px;
  
}
body{
  margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
  padding: 0;
  color: black; 
  font-size: 10pt; 
  font-family: "Trebuchet MS", sans-serif;
  background-color: #E2E2E2;
}
.banner_button{
  background-color: black;
  color:white;
  outline: none;
  border:none;
  font-weight: bold;
  padding: .5rem 2rem;
  margin-right:10px;
  transition: 50ms;
  border-radius: 4% ;
}
.banner_button:hover{
  background-color: blanchedalmond;
  color:black;
  cursor: pointer;
}
.banner_name{
  padding-top: 140px;
  margin-left: 30px;
  color:white;
  
}
.App{
  background-color: black;
}
.title{
  color:white;
  padding-left:20px;
}
.row_poster{
  object-fit: contain;
  margin-right: 10px;
  width:100%;
  max-height: 100px;
  transition: transform 450ms;
  
}
.row_poster:hover{
  transform: scale(1.08);
  opacity: 0.8;
}
.row_poster_big{
  object-fit: contain;
  margin-right: 10px;
  width:100%;
  max-height: 250px;
  transition: transform 450ms;
}
.row_poster_big:hover{
  transform: scale(1.09);
  opacity: 0.8;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
   /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #050505;
  margin:auto;
  padding: 20px;
  border-radius: 4%;
  
}
.close {
  color: #ff0b0b;
  float: right;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff0b0b;
  text-decoration: none;
  cursor: pointer;
}